/* Center the content */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;  
}

/* Button styles */
.button {
  background-color: rgb(84, 31, 47);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

.button:hover {
  background-color: rgb(200, 40, 50);
}

.button:active {
  background-color: rgb(198, 29, 33);
}

/* Add this class to keep the background color after click */
.button.active {
  background-color: rgb(198, 29, 33);
}

/* Button container to space them out horizontally */
.button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.button_Actions {
  display: flex;
  flex-direction: column;
}

.button_Icon {
  color: rgb(198, 29, 33);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Table Styles */
.table-details {
  width: 50vw; /* Ensures table takes up 50% of the viewport width */
  border-collapse: collapse;
  margin: 0 auto; /* Centers the table horizontally */
  z-index: 1;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: rgb(84, 31, 47);
  color: white;
}

td {
  border-top: 1px solid rgb(84, 31, 47);
  cursor: pointer;
}

td span {
  display: flex;
  flex-direction: row;
}

.no-interfaces {
  text-align: center;
  font-size: 18px;
  color: #6b7280; 
  border: none !important; /* Avoid border conflicts */
}

/* Header Styling */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; 
}

/* The input element inside the search-container */
.glass-input {
  padding: 8px 32px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  z-index: 1;
}

/* Autocomplete dropdown */
.autocomplete-dropdown {
  width: 299px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  max-height: 200px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgb(31, 30, 30);
  color: #fff;
  padding-left: 0;
  overflow-y: auto; /* Ensure the dropdown can scroll if needed */
  margin: auto;
  
}

.autocomplete-dropdown li {
  padding: 8px;
  cursor: pointer;
  list-style-type: none;
}

.autocomplete-dropdown li:hover {
  background-color: #f0f0f0;
  width: 95%;
  color: #000;
}


.filters input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

/* styles for the adding form */
.button_container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
} 

/* style for the update input */
input.active {
  border: 2px solid #007bff;
  background-color: #f0f8ff;
}

span.active {
  color: #007bff;
  font-weight: bold;
}

.clickable:hover {
  cursor: pointer;
  background-color: rgb(41, 41, 42);
  color: #fff;
}

.fa-circle-plus {
  color: #000;
  cursor: pointer;
  margin-Left: 5px;
}

/* style SettingsGateway page */

.Gateway-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; 
  margin: 0 10vw;
}

h2 {
  margin: auto;
}
.Gateway-table {
  width: 50vw; /* Ensures table takes up 50% of the viewport width */
  border-collapse: collapse;
  margin: 0 auto; 
  text-align: center; 
  z-index: 1;
}

.Link-home {
  background-color: rgb(84, 31, 47);
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  position: fixed;
  bottom: 20px; 
  right: 20px;  
  display: flex;
  justify-content: center;  
  align-items: center;      
}

.Gateway-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10vw;
}

.Gateway-header {
  margin-left: 10vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

form label {
  background-color: rgb(84, 31, 47);
  padding: 5px 8px 8px 8px;
  border-radius: 6px;
  color: #fff;
  width: 110px;
}

form input {
  align-self: flex-end;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 316px;
  position: relative;
  left: -5px;
}