/* Center the content */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Button styles */
.button {
  background-color: rgb(84, 31, 47);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

.button:hover {
  background-color: rgb(200, 40, 50);
}

.button:active {
  background-color: rgb(198, 29, 33);
}

/* Add this class to keep the background color after click */
.button.active {
  background-color: rgb(198, 29, 33);
}

/* Button container to space them out horizontally */
.button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.button_Actions {
  display: flex;
  flex-direction: column;
}

.button_Icon {
  color: rgb(84, 31, 47);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Table Styles */
.table-container {
  margin-top: 20px;
  max-height: 400px; /* Limit the table's height */
  overflow-y: auto; /* Allow scrolling if the table is too long */
  border: 1px solid #ccc;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: rgb(84, 31, 47);
  color: white;
}

td {
  border-top: 1px solid rgb(84, 31, 47);
}

.no-interfaces {
  text-align: center;
  font-size: 18px;
  color: #6b7280; /* Tailwind gray-600 */
  border: none !important; /* Avoid border conflicts */
}

/* Header Styling */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Dark text */
}

/* Wrapper for the input and icon */
.search-container {
  align-items: center;
  width: 85%;
  margin: auto;
  z-index: 0;
}

.glass-input {
  position: relative;
  padding: 8px 32px 8px 12px; /* Adjust padding to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 400px;
  z-index: 1;
}

.search-icon {
  position: absolute;
  top: 185px;
  right: 31%;  
  z-index: 2;
  color: #aaa;
  pointer-events: none; /* Prevent the icon from being clicked */
}

/* Autocomplete dropdown */
.autocomplete-dropdown {
  position: absolute;
  top: 33%;
  left: 30%;
  width: 314px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  max-height: 200px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgb(31, 30, 30);
  color: #fff;
  padding-left: 0;
  overflow-y: auto; /* Ensure the dropdown can scroll if needed */
}

.autocomplete-dropdown li {
  padding: 8px;
  cursor: pointer;
  list-style-type: none;
}

.autocomplete-dropdown li:hover {
  background-color: #f0f0f0;
  width: 95%;
  color: #000;
}

/* filters */
.filters-container {
  margin: 20px 0;
}

.filters input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

/* styles for the adding form */
.add-interface-form {
  width: 100%;
  box-sizing: border-box;
}

.add-interface-form table {
  width: 100%;
  border-collapse: collapse;
}

.add-interface-form table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

.add-interface-form table td input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-interface-form table td label {
  font-weight: bold;
  display: block;
}

.add-interface-form table td button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.add-interface-form table td button:hover {
  background-color: #45a049;
}
