/* Center the content */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Button styles */
.button {
  background-color: rgb(84, 31, 47);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

.button:hover {
  background-color: rgb(200, 40, 50);
}

.button:active {
  background-color: rgb(198, 29, 33);
}

/* Add this class to keep the background color after click */
.button.active {
  background-color: rgb(198, 29, 33);
}

/* Button container to space them out horizontally */
.button-container {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 20px;
}

.button_Actions {
  display: flex;
  flex-direction: column;
}

.button_Icon {
  color: rgb(198, 29, 33);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: rgb(84, 31, 47);
  color: white;
}

td {
  border-top: 1px solid rgb(84, 31, 47);
  cursor: pointer
}

.no-interfaces {
  text-align: center;
  font-size: 18px;
  color: #6b7280; 
  border: none !important; /* Avoid border conflicts */
}

/* Header Styling */
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; 
}

/* The input element inside the search-container */
.glass-input {
  padding: 8px 32px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  z-index: 1;
}

/* Autocomplete dropdown */
.autocomplete-dropdown {
  width: 299px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 4px;
  max-height: 200px;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: rgb(31, 30, 30);
  color: #fff;
  padding-left: 0;
  overflow-y: auto; /* Ensure the dropdown can scroll if needed */
  margin-top: -1%;
  margin-left: 22.5%;
  
}

.autocomplete-dropdown li {
  padding: 8px;
  cursor: pointer;
  list-style-type: none;
}

.autocomplete-dropdown li:hover {
  background-color: #f0f0f0;
  width: 95%;
  color: #000;
}


.filters input {
  margin: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
}

/* styles for the adding form */
.add-interface-form {
  width: 100%;
}

.add-interface-form table {
  border-collapse: collapse;
}

.add-interface-form table td {
  padding: 0px;
  background-color: rgb(84, 31, 47);
  text-align: left;
}

.add-interface-form table td input {
  width: 92%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-interface-form table td label {
  font-weight: bold;
  display: block;
  color: #fff;
  padding: 8px;
  margin: 0;
  width: 100px;
} 

.add-interface-form table td button {
  padding: 10px 15px;
  background-color: rgb(198, 29, 33);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 5px;
}

.button_container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap: 10px;
} 

/* style for the update input */
input.active {
  border: 2px solid #007bff;
  background-color: #f0f8ff;
}

span.active {
  color: #007bff;
  font-weight: bold;
}

