/* Center the content */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  /* Button styles */
  .button {
    background-color: rgb(84, 31, 47);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  }
  
  .button:hover {
    background-color: rgb(200, 40, 50);
  }
  
  .button:active {
    background-color: rgb(198, 29, 33);
  }
  
  /* Add this class to keep the background color after click */
  .button.active {
    background-color: rgb(198, 29, 33);
  }
  
  /* Button container to space them out horizontally */
  .button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
  }
  
  /* Table Styles */
  .table-container {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: rgb(84, 31, 47);
    color: white;
  }
  
  td {
    border-top: 1px solid rgb(84, 31, 47);
  }
  
  .no-interfaces {
    text-align: center;
    font-size: 18px;
    color: #6b7280; /* Tailwind gray-600 */
  }
  
  /* Header Styling */
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Dark text */
  }
  
    /* Wrapper for the input and icon */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
}

.glass-input {
  width: 100%;
  padding: 8px 32px 8px 12px; /* Adjust padding to make space for the icon */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-icon {
  position: absolute;
  right: 12px;
  color: #aaa;
  pointer-events: none; /* Prevent the icon from being clicked */
}

  /* filters */
  .filters-container {
    margin: 20px 0;
  }
  
  .filters {
    align-items: center;
  }

  .filters input {
    margin: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.15);
  }


